body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    color:white;
}

.container {
  position: relative;
  display: inline-block;
  line-height: 1;
}

h1{
    font-size: 20px;
}
h3{
    font-size: 15px;
}

.icon {
  font-size: 300px;
  display: block;
  line-height: 1;
  color: red;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;

  font-family: "Dancing Script";
}


.btns{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.btn{  
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 50px;
    background-color: palevioletred;
    border: 2px white;
    border-radius: 0%;
}

iframe{
    margin: 10px 0;
}